.homePlateBody {
  BACKGROUND: #9FA9B3 url(../../resources/bsm/img/page_background.jpg) 0 0 repeat-x;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.test{ 
  background: url(../../resources/bsm/img/bgLogo.gif);
}
.bodyOrigineel {
  BACKGROUND: #41566e url(../../resources/bsm/img/omt_bg_top.png) repeat-x; MARGIN: 0px; HEIGHT: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #336699;
}
.title {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  background-color: #99CC00; color: #003333;
}
.subtitle {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #003300;
}
.header {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: #669900;
  color: #FFFF33;
}
.nav {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: #CCFF99;
}
.navLink {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #DEDECA;
}
.sidebar {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 14px;
  padding: 3px;
  background-color: #FFFFCC;
  color: #003333;
}
.sidebarHeader {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #003300;
  background-color: #FFFF66;
}
.sidebarFooter {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  background-color: #FFFF99;
  font-style: italic;
}
.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  color: #333333;
  background-color: #CCFF99;
}
.legal {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9px;
  color: #333333;
}
INPUT.normal {
	BORDER-RIGHT: #CC0000 1px solid; BORDER-TOP: CC0000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: CC0000 1px solid; COLOR: 000000; BORDER-BOTTOM: CC0000 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #F4F4F4
}
TEXTAREA.normal {
	BORDER-RIGHT: #CC0000 1px solid; BORDER-TOP: CC0000 1px solid; FONT-SIZE: 8pt; BORDER-LEFT: CC0000 1px solid; COLOR: 000000; BORDER-BOTTOM: CC0000 1px solid; FONT-FAMILY: verdana; BACKGROUND-COLOR: #F4F4F4
}
.box1 {
  border-width: thin;
  border-color: #99FF99 #003300 #003300 #99FF99;
  border-style: double;
}
.promo {
  font-family: "Times New Roman", Times, serif;
  color: #000033;
}
.titlebar {
  font-family: "Times New Roman", Times, serif;
  font-size: 9px;
  color: #FFFFFF;
  background-color: #336699;
}
.dingbat {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  color: #660000; font-weight: bolder; font-size: medium;
}
input.big {
  width: 100px;
}
input.small {
  width: 50px;
}
DIV#top DIV DIV {
  background: url(../../resources/bsm/img/omt_header_r.png);
  POSITION: relative;
}
.pageLayoutTable {
  height:80%; 
  border: thin solid #FFFFFF;
  align: center;
  background-position: center;
  width: 700pt;
}
.titleTable {
  height:130px;
  width: 900px;
  margin: 0px;
  align: center;
  background-color: #FFFFFF;
}
TD.titelcell {
  background-color:#FFFFFF
}
/* modules - floating box as container */
.mod {
  width:192px;
  vertical-align:top;
  overflow:hidden;
}
.col2 .mod, .col3 .mod {
  float:left;
}
.mod .top {
  background-image: url(../../resources/bsm/img/mod2_top.gif);
}
.top {
  height:22px;
  margin:0px 4px;
}
.top .cnt {
  padding:0px 9px;
  margin:0px;
  color:white;
  line-height:24px;
  height:22px;
  overflow:hidden;
}
.middle {
  width:auto;
  background-color:white;
  border-left: 1px solid #CC0000;
  border-right: 1px solid #CC0000;
  padding:8px;
  padding-bottom:4px;
  margin:0px 4px;
}
.mod .middle .cnt {
  margin:0px;
  width:166px;
  overflow:hidden;
}
.mod .bottom {
  background-image: url(../../resources/bsm/img/mod2_bot.gif);
}
div.bottom, div.subnavbot {
  height:5px;
  margin: 0px 4px 8px 4px;
  overflow:hidden;
}

/* 2 columns */
.mod2 {
  width:384px;
  overflow:hidden;
  vertical-align:top;
}
.col3 .mod2 {
  float:left;
}
.mod2 .top {
  background-image: url(../../resources/bsm/img/mod2_top.gif);
}
.mod2.notitle .top {
  background-image: url(../../resources/bsm/img/mod2_notitle_top.gif);
  height:5px;
  overflow:hidden;
}
.mod2 .middle {
  position: relative; /* position: reference for halo image */
  width: 358px;
}
.mod2 .middle .cnt {
  width:358px;
  overflow:hidden;
}
.mod2.notitle .middle {
  padding-top:4px;
}
.mod2 .bottom {
  background-image: url(../../resources/bsm/img/mod2_bot.gif);
}

/* 3 columns */
.mod3small {
  width:208px;
  overflow:hidden;
  vertical-align:top;
}
.mod3small .top {
  background-image: url(../../resources/bsm/img/mod3small_top.gif);
}
.mod3small .middle .cnt {
  width:180px;
  overflow:hidden;
}
.mod3small .bottom {
  background-image: url(../../resources/bsm/img/mod3small_bot.gif);
}
.mod3medium {
  width:523px;
  overflow:hidden;
  vertical-align:top;
}
.mod3medium .top {
  background-image: url(../../resources/bsm/img/mod3medium_top.gif);
}
.mod3medium .middle .cnt {
  width:480px;
  overflow:hidden;
}
.mod3medium .bottom {
  background-image: url(../../resources/bsm/img/mod3medium_bot.gif);
}
.mod3big {
  width:576px;
  overflow:hidden;
  vertical-align:top;
}
.mod3big .top {
  background-image: url(../../resources/bsm/img/mod3_top.gif);
}
.mod3big .middle .cnt {
  width:550px;
  overflow:hidden;
}
.mod3big .bottom {
  background-image: url(../../resources/bsm/img/mod3_bot.gif);
}
.formcheck {
  border: 1px solid #f2f3f5; /* MSIE */
}
div.icn {
  float:right;
  width:46px;
  height:50px;
  background-color:white;
}
div.icn img {
  border:none;
  margin-bottom:8px;
  margin-left:4px;
  width:42px;
  height:42px;
}
.mod2 .middle .cnt div.col-left {
  float: left;
  width: 170px;
  overflow: hidden;
}
.mod2 .middle .cnt div.col-right {
  float: right;
  width: 170px;
  overflow: hidden;
}
.middle .cnt div.col-left p,
.middle .cnt div.col-right p {
  margin: 5px 0px;
}
.middle .cnt div.halo {
  float: right;
  height: 45px;
  width: 125px;
}
.headerschaduw {
  background:#FFFFFF url('../../resources/bsm/img/schaduw.gif') top left repeat-x
}